<style type="text/css">

*{
    margin:0px;
    padding:0px; 
}

body{

}

form{
    background: #333333;
    width: 365px;
    border:1x solid #4e4d4d;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 0 10px #000 ;
    margin: 80px  auto;

}


form input, textarea, select{
    width: 280px;
    height: 35px;
    padding: 0px 10px;
    color:#6d6d6d;
    text-align:justify;
    margin:5px 40px;
}

form button{
    width:235px;
    margin:20px 10px 10px 60px;
    height:50px;
}
form h1{
    text-align: center;
    color:#fff;
    font-size: 8;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}
table{
    border:1px solid #000;
    
    width:365px;
    margin: 5px auto  ;
   
    box-shadow: inset 0 0 10px #000 ;

}

table td{
    border:1px solid #000;
    padding: 10px
}
table th{
    border:1px solid #000;
     background: #CC0033;
     color:#fff; 
     text-align: center;

}


label {
    background: #fff;
    text-align: left;
    font-size: 12pt;
    padding: 10px;
     margin:5px 40px;
     
     box-shadow: inset 0 0 10px #000 ;
}
h5{
    
    width: 365px;
    margin: 0px auto;
    background: #CC0033;
     color:#fff; 
}


</style>